{% extends 'base.html.twig' %}

{% block navbar %}
<nav class="nav nav-pills nav-justified">
  <a class="nav-item nav-link" href="{{path('tournoi_show', {id:tournoi.id})}}">Informations</a>
  <a class="nav-item nav-link active" href="{{path('tournoi_show_calendrier', {id:tournoi.id})}}">Calendrier</a>
  <a class="nav-item nav-link" href="#">Résultats</a>
  <a class="nav-item nav-link" href="#">Phases finales</a>
</nav>
{% endblock %}

{% block body %}
<!--<center>
  <a href="{{path('tournoi_download_calendrier', {id:tournoi.id})}}">
    <button class ="btn btn-outline-info btn-sm">Exporter le calendrier</button>
  </a><br><br>
  </center>
-->


<center>


<p>
  <span id="tocopy">http://localhost:8000/tournoi:{{tournoi.id}}/calendrier/download</span>
  <button  class ="js-copy btn btn-outline-secondary btn-sm" data-target="#tocopy" >Copier le lien   <i  class="icon-docs"></i></button>


</p>
</center>
<script>

var btncopy = document.querySelector('.js-copy');
if(btncopy) {
    btncopy.addEventListener('click', docopy);
}

function docopy() {
    var range = document.createRange();
    var target = this.dataset.target;
    var fromElement = document.querySelector(target);
    var selection = window.getSelection();

    range.selectNode(fromElement);
    selection.removeAllRanges();
    selection.addRange(range);

    try {
        var result = document.execCommand('copy');
        
    }
    catch(err) {
        // Une erreur est surevnue lors de la tentative de copie
        alert(err);
    }

    selection = window.getSelection();

    if (typeof selection.removeRange === 'function') {
        selection.removeRange(range);
    } else if (typeof selection.removeAllRanges === 'function') {
        selection.removeAllRanges();
    }
}
</script>


<!-- CALENDRIER A FAIRE : DODO ET MATHIEU -->


{% endblock %}
