{% extends 'base.html.twig' %}
{% block body %}
<center>


  <p>
    <span id="tocopy">http://localhost:8000/tournoi:{{tournoi.id}}/calendrier/exportation/download</span>
    <button class="js-copy btn btn-outline-secondary btn-sm" data-target="#tocopy">Copier le lien <i
        class="icon-docs"></i></button>


  </p>
</center>
<script>

  var btncopy = document.querySelector('.js-copy');
  if (btncopy) {
    btncopy.addEventListener('click', docopy);
  }

  function docopy() {
    var range = document.createRange();
    var target = this.dataset.target;
    var fromElement = document.querySelector(target);
    var selection = window.getSelection();
  

  range.selectNode(fromElement);
    selection.removeAllRanges();
    selection.addRange(range);

    try {
      var result = document.execCommand('copy');

    }
    catch (err) {
      // Une erreur est surevnue lors de la tentative de copie
      alert(err);
    }

    selection = window.getSelection();

    if (typeof selection.removeRange === 'function') {
      selection.removeRange(range);
    } else if (typeof selection.removeAllRanges === 'function') {
      selection.removeAllRanges();
    }
  }

</script>

<br>
<center>
<select name="choose" id="choose ">
  <option>Sélectionnez un joueur</option>

  {% for joueur in joueurs %}
<option>{{ joueur.prenom }} {{ joueur.nom }}</option>

  {% endfor %}

</select>
</center>



{% endblock %}