{% extends 'base.html.twig' %}

{% block title %}Tournoi{% endblock %}

{% block body %}

<center>
  <h3 class="display-1"><b>{{ tournoi.libelle }}</b></h3>
  <h5 class="display-4">{{ tournoi.dateDebut ? tournoi.dateDebut|date('Y-m-d') : '' }} - {{ tournoi.dateFin ? tournoi.dateFin|date('Y-m-d') : '' }}</h5>

  {% if tournoi.nbJoueursParEquipe == 1 %}
  <h2>1 vs 1</h2>
  {% elseif tournoi.nbJoueursParEquipe == 2 %}
  <h2>2 vs 2</h2>
  {% endif %}
  <h6>{{ tournoi.etat }}</h6>
</center>

{% endblock %}
