{% extends 'base.html.twig' %}

{% block title %}Index des Poules{% endblock %}

{% block body %}
    <center class="display-4">Les Poules de votre tournoi</center><br><br>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Possibilités</th>
            </tr>
        </thead>
        <tbody>
        {% for poule in poules %}
            <tr>
                <td>{{ poule.libelle }}</td>
                <td>
                    <a href="{{ path('poule_show', {'id': poule.id}) }}">Voir le détail</a><br>
                    <a href="{{ path('poule_edit', {'id': poule.id}) }}">Modifier votre poule</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
