{% extends 'base.html.twig' %}

{% block title %}Pilokuta{% endblock %}

{% block body %}
<center>
  <h4>
    Liste des tournois
  </h6>
</center>
<br><br>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <center>
      <h4 class="card-title">Tournoi abc</h4>
      <h6 class="card-subtitle mb-4 text-muted">1 vs 1</h6>
      <h6 class="card-subtitle mb-4 text-muted">20 avril 2020 - 10 mai 2020</h6>
      <button class="btn btn-outline-success">Consulter</button>
    </center>
  </div>
</div>

{% endblock %}
