{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
<center class="display-4">Apportez vos modifications</center>

    {{ include('serie/ajoutModifSerie.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('series_index_tournoi', {'idTournoi': serie.tournoi.id}) }}">back to list</a>

{% endblock %}
