<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Pilokuta{% endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  {% endblock %}
</head>



<body>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        {% block entete %}
        <div>
          <center>
            <a href="{{path('tournoi_index')}}" style="color:black; text-decoration:none">
              <h1 class="display-4">
                <b>Pilokuta</b>
              </h1>
            </a>
          </center>
          <hr>
        </div>
        {% endblock %}
        <br>
        {% block navbar %}


        <nav class="nav nav-pills nav-justified">
          <a class="nav-item nav-link" href="#">Informations</a>
          <a class="nav-item nav-link" href="#">Calendrier</a>
          <a class="nav-item nav-link" href="#">Résultats</a>
          <a class="nav-item nav-link" href="#">Phases finales</a>
        </nav>


        {% endblock %}

        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        {% block body %}

        {% endblock %}

      </div>
    </div>
  </div>


  {% block javascripts %}
  <script src = "/js/bootstrap.min.js">
  </script>
{% endblock %}
</body>
</html>
