{% extends 'base.html.twig' %}

{% block title %}Index des Equipes{% endblock %}

{% block body %}
    <center class="display-4">Les Equipes de votre tournoi</center><br><br>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Possibilités</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td>{{ equipe.libelle }}</td>
                <td>
                    <a href="{{ path('equipe_show', {'id': equipe.id}) }}">Voir les détails</a><br>
                    <a href="{{ path('equipe_edit', {'id': equipe.id}) }}">Modifier votre equipe</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}